<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>reddITS</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="flex justify-center min-h-screen bg-gray-100">
<nav class="flex items-center justify-between bg-blue-900 px-1.5 py-1 fixed top-0 left-0 right-0">
  <div class="flex items-center text-xl px-2 py-4 ml-8 text-white font-bold">
    <a href="/" class="text-white mr-4">reddITS</a>
  </div>
  <div class="ml-auto flex items-center space-x-10 mr-8">
    <a href="/newpost" class="text-white">New Post</a>
    <a href="/profile" class="text-white">Profile</a>
  </div>
</nav>

<div class="flex flex-col items-center mt-36">
  <div>
    <img class="rounded-full object-cover" src="https://via.placeholder.com/75" alt="">
  </div>
  <div class="ml-2">
    <h1 class="font-bold text-xl">Dzaky Farhan</h1>
  </div>
  <div class="justify-center">
    <h1 class="font-small text-md">
      Informatics
    </h1>
  </div>
  <a href="/changeprofile" class="mt-2 inline-flex items-center justify-center px-2 py-1 border border-transparent text-base font-medium rounded-md text-white bg-blue-900 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700">
    Change Profile
  </a>
</div>


</body>
</html>